---
import { IoSearch } from "react-icons/io5";

---

<form id="form-search" class="relative">
  <input id="input-search" type="text" placeholder="Busca tu producto" class="w-full rounded-md outline-none text-text">
  <button class="py-2 px-4 rounded-full text-dark absolute right-0 inset-y-0">
    <IoSearch />
  </button>
</form>

<script>
  const $form = document.getElementById("form-search") as HTMLFormElement;
  const $input = document.getElementById("input-search") as HTMLInputElement;

  if (!$form || !$input) {
    console.error("No se encontraron elementos");
  } else {
    $form.addEventListener("submit", (e) => {
      e.preventDefault();
      // validate
      const value = $input.value.trim();
      if (!value) return;
      // redirect
      window.location.href = `/search/${value}`;
    });
  }
</script>
